{% extends "home.html" %}

<div id="contentArea">
{% block content %}
<p>
Prometheus Quizzing was formed by two crazy guys who discovered that their passion was quizzing over an informal quiz meet. We decided that the joy of gaining knowledge should be shared to wider audience and we wanted to change the conception that the quizzing is a realm of the nerds. Hence , Prometheus was born to hand over the fire of gaining knowledge to a wider audience.We added a third partner in crime , recently and we hope to go a long way in this quest for fun filled quizzing.
<br>
" We solemnly swear that we are upto good quizzing." - Susa , Pranav and Ninja
</p>

{% endblock %}
</div>
